- var repeats = 200
doctype 5
html
    head
        title TopCoat textarea test
        link(rel="stylesheet", href="../../release/css/textarea.min.css")
    body
        - while (repeats--)
            textarea(placeholder='Small Textarea')

