var-line-height = 1.5em
var-margin = 5px
var-padding = 10px 20px
var-border-radius = 6px
var-font = 1em "Source Sans", helvetica, arial, sans-serif
var-background--focus = #ffffff
var-color--focus = #454545